@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap");

:root {
    --primary-color: #0D1B2A;
    --secondary-color: #1B263B;
    --accent1: #415A77;
    --accent2: #778DA9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: center;
}

header{
    margin: 1rem auto;
    border-bottom: 2px solid #1B263B;
    background-color: var(--accent1);
    display: grid;
    grid-template-columns: 200px 2fr;
    align-items: center;
    position: absolute;
    max-width: 1500px;
}

nav{
    background-color: red;
    padding: 0.5px;
    position: absolute;
    font-family: 'Hind', sans-serif;
    display: flex;
    left: 400px;    
}
header img{
    width:200px;
    padding: 1.5rem;
    left: 70px;
    display: flex;
    position: relative;
}
  
nav a{
    color: black;
    padding: 10px;
    display: block;
}


main{
    background-color:var(--accent2);
    max-width: 500px;
    margin-left: 30px;
}


h2{
    color: var(--primary-color);
    font-size: 70px;
    text-align: center;
}

footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}


a{
    text-decoration: none;
}


.hero article{
    color: white;
    padding: 5px;
    display: block;
    position: absolute;
    background-color: var(--secondary-color);
  }



.hero h1{
    position: absolute;
    text-align: center;
    font-size: 80px; 
    color: #0D1B2A;
    left: 140px;
    top: 600px;

}

.hero article{
    position: absolute;
    bottom: 50px;
    left: 50px;
    max-width: 450px;
    text-align: center;
}

.hero img{
    width: 600px;
    position: relative;
}
.hero article img {
  width: 100px;
  height: auto;
  float: right;
}
header, main, footer{
    display: grid;
    width: 1000px;
}

.grid{
    font-size: 20px;
    align-items:center;
    display: ;
}