@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
    --primary-color: #0D1B2A;
    --secondary-color: #1B263B;
    --accent1: #415A77;
    --accent2: #778DA9;
}

*{
    margin: 0.2rem;
    padding: 0;
    box-sizing: border-box;
    display: center;
    max-width: 800px;
}

header {
    background-color: antiquewhite;
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 120px 1fr 2fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
}

header img {
    padding: 0.5rem;
	margin: 0 10rem;
	width: 180px;
	height: auto;
}


nav {
	display: flex;
	list-style: none;
    margin: 0 15rem;
}


nav a {
	display: block;
	color: var(--accent2);
	padding: 20px;
	text-decoration: none;
}

nav a:hover {
	color: rgb(0, 0, 0);
	font-weight: 700;
	text-decoration: seashell;
}

.hero{
    position: relative;
}


.hero img{
    display: block;
    width: 100%;
    height: auto;
}

.hero h1{
    position: absolute;
    font-size: 150px;
    color: var(--accent2);
    top: 1.5rem;
    left: 10rem;
}

.hero article{
    position: absolute;
    z-index: 4;
    border: 1px #415A77;
    top: 10rem;
    background-color: aliceblue;
    padding: 10px;
    max-width: 700px;
    left: 50px;
    top: 15rem;
}
.hero article img{
    width: 200px;
    float: right;
}