*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
nav{
  background-color: steelblue;
  padding: 10px;
}

nav a{
  color: white;
  padding: 10px;
  display: block;
}
  
main{
  max-width: 640px;
}
  
h1{
  color: steelblue;
  padding: .5rem;
}

aside h2 {
  position: absolute;
  margin-top: 1rem;
  margin-left: 2rem;
}
  
  
aside img{
  width: 100 px;
  height: auto;
  position: relative;
}
  
main img{
  width: 150 px;
  height: auto;
  float: right;
}
  
p{ padding: 0;

}
 
footer{
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
}
  
.box{
  margin: 1rem;
  border: 1px solid rgba(0,0,0,.1);
  padding: 1rem;
  background-color: #ddd;
  color: #000;
}
  
  
aside {
  width: 20em;
  text-align: center;
  position: relative;
}
  
/*Class selectors*/
.box {
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, 1);
  padding: 1rem;
  background-color: #eee;
  color: #000;
}
.indent {
  padding-left: 1rem;
}